header{
	background: $colorGrayExtraLight;
	.menu{
		ul{
			padding: 0;
			margin: 0;
			li{
				width: 90px;
				height: 70px;
				margin: 0 10px;
				font-size: 1.4rem;
				text-align: center;
				border-bottom: 10px solid $colorBlue;
				a{
					display: block;
					width: 100%;
					height: 100%;
					&:hover{
						text-decoration: none;
					}
					span{
						margin-top: 8px;
						margin-bottom: 2px;
						font-size: 2.6rem;
					}
				}
				.sistel-logo{
					display: block;
					width: 100%;
					height: 26px;
					background: url(../images/sistel-logo-small.png) center no-repeat; 
				}
			}
			li.sistel{
				border-color: $colorDarkBlue;
				a{
					color: $colorDarkBlue;
				}
			}
			li.documentos{
				border-color: $colorSoftBlue;
				a{
					color: $colorSoftBlue;
				}
			}
			li.projetos{
				border-color: $colorPurple;
				a{
					color: $colorPurple;
				}
			}
			li.comunidades{
				border-color: $colorYellow;
				a{
					color: $colorYellow;
				}
			}
			li.feed{
				border-color: $colorOrange;
				a{
					color: $colorOrange;
				}
			}
			li.eventos{
				border-color: $colorGreen;
				a{
					color: $colorGreen;
				}
			}			
		}
	}
	.user{
		height: 70px;
		padding-right: 25px;
		padding-left: 25px;
		font-weight: 600;
		background: $colorWhite;
		i{
			margin-top: 6px;
			margin-bottom: 4px;
			font-size: 2.6rem;
			color: $colorBlue;
		}
		span{
			font-size: 1.25rem;
			font-weight: normal;
			color: $colorBlue;
		}
	}
}