html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.42857143;
  background: url(../images/subheader-bg.jpg) right top;
}

.hero {
  margin: 45px 0 15px;
  background: $colorOrange;
  h1 {
    font-size: 3.75rem;
    font-weight: 300;
    color: $colorWhite;
  }
  p {
    font-size: 1.7rem;
    font-weight: 300;
    color: $colorWhite;
  }
}

.side-menu {
  background: $colorWhite;
  border-right: 2px solid #e7e3e7;
  ul {
    padding: 0;
    background: $colorWhite;
    li {
      padding: 10px;
      border-bottom: 1px solid #e7e3e7;
      &:last-child {
        border-bottom: 0;
      }
      a {
        font-size: 1.6rem;
        font-weight: 600;
        color: $colorBlue;
      }
    }
  }
}

.main {
  background: $colorWhite;
}

a.link {
  @extend .transition;
  &:hover {
    text-decoration: none;
    @extend .transition;
  }
}

.table-fixed {
  width: 100%;
  tbody {
    overflow-y: auto;
    width: 100%;
  }
  thead,
  tbody,
  tr,
  td,
  th {
    display: block;
  }
  tbody {
    td {
      float: left;
      label {
        width: 100%;
        font-weight: normal;
        text-transform: none;
        cursor: pointer;
      }
    }
  }
  thead {
    tr {
      th {
        float: left;
      }
    }
  }
  tbody td,
  thead th {
    float: left;
    &:first-of-type {
      width: 50px;
      .form-check-input {
        position: relative;
        margin: 0 10px;
      }
    }
    &:last-of-type {
      width: calc(100% - 50px);
    }
  }
}

.areas {
  h2 {
    font-size: 1.8rem;
    text-transform: none;
    color: $colorBlack;
  }
  .lista-areas {
    & > div {
      padding: 10px;
    }
    .table-usuario {
      display: none;
    }
    .form-check-input {
      position: relative;
      margin: 0;
    }
    .form-check-label {
      font-weight: normal;
      text-transform: none;
    }
  }
  .table-usuario {
    display: none;
    margin-bottom: 40px;
  }

  label.sel-todos {
    font-weight: normal;
    text-transform: none;
    padding-left: 10px;
  }
}
