.btn-sistel {
    background-color: $colorOrange;
    border-color: $colorOrange;
    &:hover{
	    background-color: darken($colorOrange, 5);
    	border-color: darken($colorOrange, 5);
    }
    &:not(:disabled):not(.disabled):active{
	    background-color: darken($colorOrange, 2);
    	border-color: darken($colorOrange, 2);
    }
    &:focus{
    	box-shadow: 0 0 0 0.2rem $colorOrange;
    }
}

.btn{
    font-size: 1.35rem;
}

.btn-lg{
    font-size: 2rem;
}