//********************
// colors
//********************
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlue: #395DAD;
$colorSoftBlue: #398ACE;
$colorDarkBlue: #4255A5;
$colorPurple: #4255A5;
$colorOrange: #EA561E;
$colorYellow: #CEA208;
$colorGreen: #31B6A5;
$colorGrayExtraLight: #F7F3F7;
$colorGrayLight: #F2F2F2;

.colorWhite{color: $colorWhite;}
.colorBlack{color: $colorBlack;}
.colorBlue{color: $colorBlue;}
.colorDarkBlue{color: $colorDarkBlue;}
.colorPurple{color: $colorPurple;}
.colorOrange{color: $colorOrange;}
.colorYellow{color: $colorYellow;}
.colorGreen{color: $colorGreen;}
.colorGrayExtraLight{color: $colorGrayExtraLight;}