main{
    .form-group{
        padding: 15px 15px 25px;
        margin: 0;
        border-top: 1px solid darken($colorWhite, 20);
        background: $colorWhite;
        &.gray{
            background: darken($colorWhite, 3);
        }
    }
    
    label{
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}
    
.form-control{
    font-size: 1.6rem;
}